bashrc.private      filter=git-crypt diff=git-crypt
bwk.sh              filter=git-crypt diff=git-crypt
git-update-all.sh   filter=git-crypt diff=git-crypt
install_private.sh  filter=git-crypt diff=git-crypt
kill-safari.sh      filter=git-crypt diff=git-crypt
*.key               filter=git-crypt diff=git-crypt
